<section class="pt-5">
  <div class="container">
    <div class="row p-5 mb-5 border border-2 rounded rounded-4 border-secondary">
      <div class="col-md-8 p-5">
        <div>
          <h2><b>SHOPPING CART</b></h2>
        </div>
        <hr>
        {{#if products.length}}
          {{#each products}}
            <div class="row mb-3 pb-3 border-bottom">
              <div class="col-md-3">
                <img style="width: 70px; height: 70px" src='/product-img/{{this.product._id}}.jpg' alt="Image not found">
              </div>
              <div class="col-md-3 mt-2">
                <h5>{{this.product.title}}</h5>
                <p>Category: <span>{{this.product.category}}</span></p>
              </div>
              <div class="col-md-3 mt-2">
                <button class="cart-item-count me-2" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
                <span id="{{this.product._id}}">{{this.quantity}}</span>
                <button class="cart-item-count ms-2" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
              </div>
              <div class="col-md-3 mt-2">
                <h4>₹<span>{{this.product.price}}</span></h4>
              </div>
            </div>
          {{/each}}
        {{else}}
          <p>Your cart is empty.</p>
        {{/if}}
      </div>

      <div class="col-md-4 p-5 rounded rounded-5" style="background: rgb(237, 220, 187); height: fit-content;">
        <h2><b>Summary</b></h2>
        <hr>
        <div>
          <div class="pt-3">
            <h5 class="float-start">ITEMS:</h5>
            <h5 class="float-end">₹ {{totalAmount}}</h5>
            <br>
          </div>
          <div class="pt-3 pb-3">
            <h5 class="float-start">SHIPPING</h5>
            <h5 class="float-end text-success">FREE</h5>
            <br>
          </div>
        </div>
        <hr>
        <div class="pt-3 pb-4">
          <h5 class="float-start">Total Amount:</h5>
          <h5 class="float-end">₹ {{totalAmount}}</h5>
          <br>
        </div>
        <div class="d-grid">
          {{#if totalAmount}}
          <a class="btn btn-success" href="/place-order">Check Out</a>
          {{else}}
          <button class="btn btn-success" href="/place-order" disabled>Check Out</button>
          {{/if}}
        </div>
      </div>

      <div>
        <a href="/" class="text-black">Back to Shop</a>
      </div>
    </div>
  </div>
</section>